<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Pet</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/cadastroPet.css">
    <link rel="stylesheet" href="css/popup.css">
    <script src="js/cadastropet.js" defer></script>
    <script src="js/popup.js" defer></script>
</head>
<body>
    <%- include('parters/popup.ejs') %>
    <section class="cadPet">
        <img src="imagens/logo.svg" alt="">    
        <div class="container-cadastro-pet">
            <div>
                <h1>Nos informe o básico sobre o seu animalzinho.</h1>
            </div>
            <form class="cadastro-pet" action="/cadastrarpet" method="post" enctype="multipart/form-data" >
                <div class="form-cadastro-pet">
                    <div class="ajustes-form">
                        <label for="">Nome Pet</label>
                        <input type="name" name="name" id="nome-pet" placeholder="Digite o nome do Pet" required>
                    
                        <label for="">Espécie</label>
                        <select id="tipos-pets" placeholder="Tipo do Pet" name="especies" required>
                            <option value=""></option>
                          
                        </select>


                        <label for="">Gênero</label>
                        <select id="genero-pet" name="genero">
                            <option value="Fêmea">Fêmea</option>
                            <option value="Macho">Macho</option>
                        </select>

                        <label for="">Peso</label>
                        <select type="text" name="peso" id="peso-pets">
                            <option value="0-11kg">0-11kg</option>
                            <option value="11-22kg">11-22kg</option>
                            <option value="22-45kg">22-45kg</option>
                            <option value="45+kg">45+kg</option>
                        </select>

                    </div>

                    <div class="ajustes-form2">
                        <label for="">Carregue uma foto</label>
                        <input type="file" name="file">

                        <label for="">Data de Nascimento</label>
                        <input type="date" name="data_nascimento" id="nasc-pet" placeholder="Digite o nome do Pet" required>
                        
                        <label for="">Esterilizado ou Castrado</label>
                        <select id="reproducao-pet" name="castrado">
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>                           
                         
                    </div> 
                    <input type="hidden" name="id_usuario" value="1"> 
				</div>
                <div class="caixa-msg-cad">                       

                    <label for="">Mensagem</label>
                    <textarea name="mensagem" type="message" id="mensagem-pet-cad" placeholder="Escreva sua mensagem">
                    </textarea>
                </div>
				<div action="" class="form-pet">
                    <div class="div-btn">
                        <button type="submit" id="btn-cadastro-pet" type="submit">Cadastrar</button>
                    </div>
                    <div>
                        <a href="/meus_pets" id="btn-cad-voltar">VOLTAR</a>
                    </div>
                </div>
                			
            </form>
           
        </div>
</section>
</body>
</html>