<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de grid</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link rel="stylesheet" href="css/modal.css"> -->

</head>

<body>

    <!-- ---- -->
    <!-- MENU -->

    <header>
        <div class="contaner">
            <nav>
                <a href="#" id="m1">Contato</a>
                <a href="#" id="m2">Adoção</a>
                <a href="#" id="logo">
                    <h2>PetSpot</h2>
                    <!-- <img class="logo" src="imagens/icones/logo01_SVG.svg" alt=""> -->
                </a>
                <img id="btn-menu" src="imagens/icones/menu_50px.png" alt="">

                <a href="#" id="m3">Fale Conosco</a>
                <a href="#" id="m4">Login</a>
            </nav>
        </div>
    </header>


    <!-- -------------- -->
    <!-- CARROSSEL TOPO -->

    <section id="contaner-slides">
        <div class="div-banner">
            <img id="img1" src="imagens/Banner_1.png" alt="">
            <img id="img2" src="imagens/Banner_2.png" alt="">
            <img id="img3" src="imagens/Banner_3.png" alt="">

        </div>

        <div class="btn-voltar-slide">
            <img id="bt-voltar" src="imagens/icones/voltar_32px.png" alt="">
        </div>

        <div class="btn-next-slide">
            <img id="bt-next" src="imagens/icones/next_32px.png" alt="">
        </div>


    </section>


    <!-- ----- -->
    <!-- MISSÃO -->

    <div class="div-conteudo-slide">
        <h1>PetSpot</h1>
        <div>
            <h2>Nossa Missão</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos at culpa voluptatem! Quod nulla,
                atque, modi aliquam necessitatibus, quis velit rem laudantium odit facilis molestias eum. Totam harum
                iure nemo.</p>
        </div>
    </div>



    <!-- ---------- -->
    <!-- ÍCONE CHAT -->

    <img id="ico-chat" src="imagens/icones/chat.svg" alt="">



    <!-- ------------ -->
    <!-- CARDS ADOÇÃO -->

    <!-- TITULO -->
    <div class="rotulo">
        <h2>PETS PRECISANDO DE UM LAR AGORA</h2>
        <a href="#">veja todos </a>
    </div>

    <section class="galeria-adoçao">
        <!-- CARD 1 -->
        <div class="div-card-doacao">
            <div class="div-img-card">
                <img src="imagens/foto1280.jpg" alt="">
            </div>
            <div class="div-dados-animal">
                <p>Nome</p>
                <p>Idade</p>
            </div>
            <div class="div-botao">
                <span>Dias esperando um lar: **</span>
                <a href="#">Botão</a>
            </div>
        </div>


        <!-- CARD 2 -->
        <div class="div-card-doacao">
            <div class="div-img-card">
                <img src="imagens/icones/camera.svg" alt="">
            </div>
            <div class="div-dados-animal">
                <p>Nome</p>
                <p>Idade</p>
            </div>
            <div class="div-botao">
                <span>Dias esperando um lar: **</span>
                <a href="#">Botão</a>
            </div>
        </div>

        <!-- CARD 3 -->

        <div class="div-card-doacao">
            <div class="div-img-card">
                <img src="imagens/icones/camera.svg" alt="">
            </div>
            <div class="div-dados-animal">
                <p>Nome</p>
                <p>Idade</p>
            </div>
            <div class="div-botao">
                <span>Dias esperando um lar: **</span>
                <a href="#">Botão</a>
            </div>
        </div>

        <!-- CARD 4 -->
        <div class="div-card-doacao">
            <div class="div-img-card">
                <img src="imagens/icones/camera.svg" alt="">
            </div>
            <div class="div-dados-animal">
                <p>Nome</p>
                <p>Idade</p>
            </div>
            <div class="div-botao">
                <span>Dias esperando um lar: **</span>
                <a href="#">Botão</a>
            </div>
        </div>

        <!-- CARD 5 -->
        <div class="div-card-doacao">
            <div class="div-img-card">
                <img src="imagens/icones/camera.svg" alt="">
            </div>
            <div class="div-dados-animal">
                <p>Nome</p>
                <p>Idade</p>
            </div>
            <div class="div-botao">
                <span>Dias esperando um lar: **</span>
                <a href="#">Botão</a>
            </div>
        </div>

        <!-- CARD 6 -->
        <div class="div-card-doacao">
            <div class="div-img-card">
                <img src="imagens/icones/camera.svg" alt="">
            </div>
            <div class="div-dados-animal">
                <p>Nome</p>
                <p>Idade</p>
            </div>
            <div class="div-botao">
                <span>Dias esperando um lar: **</span>
                <a href="#" class="btn-card">Botão</a>
            </div>
        </div>
    </section>


    <!-- --------------------- -->
    <!-- CARROSSEL TESTEMUNHOS -->

    <section class="area-testemunhos">
        <h2>TESTEMUNHOS DE ADOÇÃO</h2>
        <div class="div-img-testemunhos">
            <div class="div-conteudo-testemunhos">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptate tempore explicabo a
                    quam aspernatur nostrum voluptatibus necessitatibus nobis at? Dolore, consequatur illo. Molestiae
                    earum cum vitae officiis quo doloremque.</p>
            </div>

            <div class="btn-voltar-slide2">
                <img id="bt-voltar" src="imagens/icones/voltar_32px.png" alt="">
            </div>

            <div class="btn-next-slide2">
                <img id="bt-next" src="imagens/icones/next_32px.png" alt="">
            </div>
        </div>
        <div class="div-carrossel-testemunhos">
            <img id="img-testemunhos1" class="div-cards-testemunhos" src="imagens/banner1.png" alt="">
            <img class="div-cards-testemunhos" src="imagens/banner2.png" alt="">
            <img class="div-cards-testemunhos" src="imagens/banner3.png" alt="">
            <img class="div-cards-testemunhos" src="imagens/banner4.png" alt="">

            <img class="div-cards-testemunhos" src="imagens/banner1.png" alt="">
            <img class="div-cards-testemunhos" src="imagens/banner2.png" alt="">
            <img class="div-cards-testemunhos" src="imagens/banner3.png" alt="">
            <img class="div-cards-testemunhos" src="imagens/banner4.png" alt="">

            <img class="div-cards-testemunhos" src="imagens/banner1.png" alt="">
        </div>

    </section>


    <!-- ------- -->
    <!-- COOKIES -->


    <div class="div-cookie ativo">
        <div class="div-info-cookie">
            <p>Este site usa cookies para gerenciar a autenticação, navegação e outras funções. Ao usar nosso site, você
                concorda que podemos colocar esses tipos de cookies em seu dispositivo.</p>
        </div>
        <div class="div-btns-cookie">
            <a id="btn-aceito" href="#">Aceitar</a>
            <a id="btn-rejeito" href="#">Rejeitar</a>
        </div>
    </div>


    <!-- ---------------------------- -->
    <!-- MODAL TELA DE LOGIN ANIMADA -->

    <dialog class="modal-login-animado">
        <!--  -->
        <div class="container-geral">

            <!-- Botão fechar -->
            <span class="fechar">&times;</span>

            <!-- Detalhes de fundo -->
            <img src="imagens/loginAnimado/Polygon 1 (1).png" alt="" id="canto1">
            <img src="imagens/loginAnimado/Ellipse 79.png" alt="" id="canto2">

            <!-- Container interno -->
            <div class="container-conteudo">
                <div class="container-interno">

                    <!-- CONTEÚDO LOGIN -->
                    <div class="aba-login">
                        <h3>Bem-vindo de volta!</h3>
                        <p>Para continuar conectado conosco, por favor, faça login com suas informações pessoais.</p>
                        <button id="botao-cadastro">Login</button>
                        <a href="">Voltar</a>
                    </div>


                    <!-- CONTEÚDO CADASTRO -->
                    <div class="aba-cadastro">
                        <h3>Crie uma conta</h3>
                        <div style="text-align:center">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <div>
                            <span class="dot"></span>
                            <a href="">Carregue uma foto</a>
                        </div>
                        <form>
                            <input type="text" name="nome" placeholder="Nome">
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Senha">
                            <br>
                            <button>Cadastro</button>
                        </form>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-addon">
                                    <button class="fa fa-search" style="background:transparent;border:none"></button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Container Interno 2 -->
                <div class="container-interno2">

                    <!-- ENTRAR LOGIN -->
                    <div class="entrar-login">
                        <h3>Entre no PetSpot</h3>
                        <div style="text-align:center">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>

                        <div>
                            <p>Ou use uma conta de e-mail</p>
                            <form action="">
                                <input type="email" name="email" placeholder="Email">
                                <input type="password" name="password" placeholder="Senha">
                                <br>
                                <button>Esqueceu sua senha?</button>
                                <button>Entrar</button>
                            </form>
                        </div>
                    </div>
                    <div class="faca-cadastro">
                        <h3>Olá, amigo!</h3>
                        <p>Insira seus dados pessoais e inicie uma jornada conosco.</p>
                        <p>Já tem uma conta? | Faça Login</p>
                        <button id="botao-login">Entrar</button>
                    </div>
                </div>
            </div>


        </div>
    </dialog>





    <!-- ------------- -->
    <!-- FOOTER PADRÃO -->
    <footer>

        <section class="container-footer">
            <div class="texto-footer">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Earum voluptatem, officiis nulla iure laudantium laborum nemo adipisci!
                    Beatae, totam, deserunt omnis sed molestias a similique assumenda, neque dolorem deleniti eveniet.
                </p>
            </div>
            <div class="redes-footer">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </section>
    </footer>







    <script src="js/index.js"></script>
    <script src="js/modal.js"></script>
</body>

</html>