<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="css/reset.css">
<dialog class="modal">

    <div class="container-externo">

        <!-- Detalhes de fundo -->
        <img src="imagens/loginAnimado/Polygon 1 (1).png" alt="" id="canto1">
        <img src="imagens/loginAnimado/Ellipse 79.png" alt="" id="canto2">

        <div class="flip-card">
            <!-- Container com conteúdo -->
            <div class="container-interno">

                <div class="aba-login">
                    <!-- <div class="fundo-bichinhos">
                            <img src="imagens/loginAnimado/🦆 emoji _cat face_.png" alt="" id="cat-png">
                            <img src="imagens/loginAnimado/🦆 emoji _dog face_.png" alt="" id="dog-png">
                            <img src="imagens/loginAnimado/🦆 emoji _rabbit face_.png" alt="" id="rabbit-png">
                            <img src="imagens/loginAnimado/🦆 emoji _hamster_.png" alt="" id="hamster-png">
                            <img src="" alt="">
                        </div> -->
                    <h1 id="bem-vindo-login">Bem-vindo de volta!</h1>
                    <p>Para continuar conectado conosco, por favor, faça login com suas informações pessoais.</p>
                    <!-- <button id="botao-cadastro">Login</button> -->
                    <a href="index.html" id="btn-voltar-login">VOLTAR</a>
                </div>

                <div class="entrar-login">
                    <h1>Entre no PetSpot</h1>
                    <div style="text-align:center">
                        <img src="imagens/loginAnimado/Facebook.png" alt="" class="icones-sociais">
                        <img src="imagens/loginAnimado/Google Plus.png" alt="" class="icones-sociais">
                        <img src="imagens/loginAnimado/TwitterX.png" alt="" class="icones-sociais">
                    </div>
                    <div>
                        <p>Ou use uma conta de e-mail</p>
                        <form action="" class="form-login">
                            <input type="email" name="email" placeholder="Email" id="email" class="input-login">
                            <input type="password" name="password" placeholder="Senha" id="senha" class="input-login">
                            <br>
                            <button id="btn-esqueceu-senha">Esqueceu sua senha?</button>
                            <button id="btn-entrar-login" href="">ENTRAR</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</dialog>



</body>

</html>