<div class="carrossel">
  <div class="car_contaner">
   
      <img src="imagens/Banner_1.png" alt="">
      <img src="imagens/Banner_2.png" alt="">
      <img src="imagens/Banner_3.png" alt="">
    

  </div>
</div>