<div class="car_contaner">
    <img class="slide" src="imagens/BANNERS_1920PX/Banner_1.png" alt="">
    <img src="imagens/BANNERS_1920PX/Banner_2.png" alt="">
    <img src="imagens/BANNERS_1920PX/Banner_3.png" alt="">
</div>