<div class="div-cookie popup-cookie">
    <div class="div-info-cookie">
      <p>Este site usa cookies para gerenciar a autenticação, navegação e outras funções. Ao usar nosso site, você concorda que podemos colocar esses tipos de cookies em seu dispositivo.</p>
    </div>
    <div class="div-btns-cookie">
         <a id="btn-aceito" href="#">Aceitar</a>
         <a id="btn-rejeito" href="#">Rejeitar</a>
    </div>
  </div>