<footer>
    <a href="#nav_menu" class="btn">
        <span class="material-symbols-outlined">arrow_upward</span>
    </a>
    <!-- <div class="footerl">
        

        <p class="cont-p">
            <img src="imagens/icones/phone.png" alt=""> Telefone: (11) 1234-5678
            <br>
            <img src="imagens/icones/mail.png" alt="" style='size:15px'> E-mail: contato@petspotadote.com.br
            <br>
            <img src="imagens/icones/clock.png" alt=""> Horário de Atendimento: 08:00h às 21:00h - Segunda a Sexta
            <br>
            <img src="imagens/icones/building.png" alt=""> Endereço: R. Tito, 54 - Vila Romana, São Paulo - SP, 05051-000
            <br>
            <img src="imagens/icones/location.png" alt=""> Veja no Google Maps: <a href="https://maps.app.goo.gl/UZMSCgE5ReNoBtmR9">PetSpot Localização</a>
        </p>
    </div> -->
    <div class="footerr">
        <div class="redes-footer">
            <p>Siga-nos nas Redes Sociais:</p>
            <div class="footer_icons">
            <a href="https://www.instagram.com/senactito/"><img src="imagens/icones/instagram.png" alt=""></a>
            <a href="https://www.facebook.com/senaclapatito/?locale=pt_BR"><img src="imagens/icones/fb.png" alt=""></a>
            <a href=""><img src="imagens/icones/bs.png" alt=""></a>
        </div>
    </div>
       
</footer>