<footer>
        
    <section class="container-footer">
        <div class="texto-footer">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Earum voluptatem, officiis nulla iure laudantium laborum nemo adipisci!
                Beatae, totam, deserunt omnis sed molestias a similique assumenda, neque dolorem deleniti eveniet.
            </p>
        </div>
        <div class="redes-footer">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </section>
</footer>
