<header>
    <div class="header_contaner">
        <nav id="nav_menu">
            <a href="/#sobre" id="m1" class="mostrar_menu">Sobre Nós</a>
            <a href="/#adocao" id="m2" class="mostrar_menu">Adoção</a>
            <a href="/" id="logo">
                <h2>PetSpot</h2>
               
            </a>
            <img id="btn-menu" src="imagens/icones/menu.svg" alt="">

            <a href="/#relatos" id="m3" class="mostrar_menu">Relatos</a>
            <a href="/login" id="m4" class="mostrar_menu">Login</a>
        </nav>
    </div>
</header>
