<header>
    <img src="" alt="Foto de perfil" class="profile">
    <div class="menu-icon" id="menu-icon">
        &#9776; <!-- Ícone de hambúrguer -->
    </div>
    <nav class="menu" id="menu">
        <div class="close-icon" id="close-icon">&times;</div> <!-- Ícone de fechar -->
        <div class="menu-text">
            <img src="" alt="Foto de perfil" class="profile-pic">
            <h2></h2>
            <p>Online</p>
        </div>
        <div class="menu_container">
            <ul>
                <li><a href="#meus_pets"> Meus Pets</a></li>
                <!-- <li><a href="#favoritos">Favoritos</a></li> -->
                <li><a href="/chat"> Chat</a></li>
                <li><a href="/cadpets">Cadastrar Pet</a></li>
                <li><a href="/contato">Contato</a></li>
                <!-- <li><a href="#adocao">Adoção</a></li> -->
            </ul>
        </div>
        <div class="container_sair">
            <a href="/" class="menu_sair">
                <img src="imagens/icones/Exit to app.png" alt="" class="sair">
            </a>
            <a href="/logout">Sair</a>
        </div>
    </nav>

</header>