<h1 id="sobre" class="txt_sobre_nos">Sobre Nós</h1>
<div class="contaner-sonbrenos">
        <div class="sobrenos-logo">
            <img id="fotos" src="imagens/logo.svg" alt="Logotipo do site">
        </div>
        <div class="sobrenos-texto">
            <div class="contaner-texto">
            <h1>Nossa Missão</h1>
            <p>A Pet Spot é uma rede social voltada para amantes de pets. Nosso objetivo principal é dar visibilidade para a adoção consciente e ser a ponte entre pessoas que precisam de companhia e pets que estão esperando a oportunidade de fazer alguém feliz. Um match perfeito!</p>
        
           
            </div>
        </div>
    </div>

   

